{% extends 'index.html' %}

{% block content %}
    <h2>{{ room.name }} Lobby</h2>

    <p>Participants:</p>
    <ul>
        {% for participant in participants %}
            <li>{{ participant.username }}</li>
        {% endfor %}
    </ul>

    {% comment %} <form method="post" action="{% url 'room_detail' room_id=room.id %}">
        {% csrf_token %}
        <label for="password">Enter room Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Join room</button>
    </form> {% endcomment %}
{% endblock %}